{$SUPPLIER_NODE_PUBLIC_HOST} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }
  reverse_proxy supplier-node:8789
}
